body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #9d754b;
    background: #dfba93;
    min-height: 100%;
  }

  header {
    height: 20%;
  }

  main {
    height: 60%;
  }

  footer {
    height: 20%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }
  
  .container {
    margin: 20px auto;
    width: 400px;
    text-align: center;
  }
  
  .container > .dropdown {
    margin: 0 20px;
    vertical-align: top;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  }
  
  .dropdown:before, .dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #9d754b transparent;
    pointer-events: none;
  }
  
  .dropdown:before {
    border-bottom-style: solid;
    border-top: none;
  }
  
  .dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }
  
  .dropdown-select {
    position: relative;
    width: 130%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #9d754b;
    text-shadow: 0 1px white;
    background: #f2f2f2; /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }
  
  .dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #9d754b;
    outline: 2px solid #9d754b;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Fix for IE 8 putting the arrows behind the select element. */
  
  .lt-ie9 .dropdown {
    z-index: 1;
  }
  
  .lt-ie9 .dropdown-select {
    z-index: -1;
  }
  
  .lt-ie9 .dropdown-select:focus {
    z-index: 3;
  }
  
  /* Dirty fix for Firefox adding padding where it shouldn't.
  
  @-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
  }

  */

  #logo {
    width: 72px;
    height: 72px;
    margin: auto;
    background-image: url("assets/img/w_a_logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #footermsg {
    color:#9d754b;
    font-size: smaller;
    text-align: center;
  }

#contenido {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #9d754b;
  }

  /*
  .oculto {
    display: none;
  }
  */
  
  #contenido h2 {
    color:#9d754b;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #contenido p {
    color:#9d754b;
    font-size: 16px;
    margin-bottom: 5px;
  }